<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<h2>Here are car tyres to start: <span>Total tyres in stock: {{calcTotalParts()}}</span><span>, Total price of tyres in stock: {{calcTotalPrice()}}</span></h2>
<ul>
  <li *ngFor="let car of tyres">
    <h3>{{car.name | uppercase}}</h3>
    <div>{{car.description}}</div>
    <div>{{car.price | currency: 'EUR' : true}}</div>
    <div *ngIf="car.inStock > 0">{{car.inStock}} in Stock</div>
    <div *ngIf="car.inStock === 0">Out of Stock</div>
  </li>
</ul>

<router-outlet></router-outlet>
